<!DOCTYPE html>
<html>
<head>
    <title>Helpdesk Tickets</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/css/tabler.min.css" />
</head>
<body>
    <h1>Helpdesk Tickets</h1>
    <div class="status-counts">
        Open: <%= counts.Open || 0 %>, 
        In Progress: <%= counts['In Progress'] || 0 %>, 
        Resolved: <%= counts.Resolved || 0 %>, 
        Closed: <%= counts.Closed || 0 %>
      </div>

    <a href="/terms">Create New Ticket</a>
    <table>
        <thead>
          <tr>
            <th>Ticket Number</th>
            <th>Description</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Images</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% tickets.forEach(ticket => { %>
          <tr>
            <td><%= ticket.ticketNumber %></td>
            <td><%= ticket.description %></td>
            <td><%= ticket.status %></td>
            <td><%= ticket.createdAt.toLocaleString() %></td>
            <td><%= ticket.updatedAt.toLocaleString() %></td>
            <td>
              <% if (ticket.image) { %>
                <a href="/image/<%= ticket._id %>">Images</a> 
              <% } else { %>
                No Picture
              <% } %>
            </td>
            <td><a href="/view/<%= ticket._id %>">View</a>
            <a href="/update/<%= ticket._id %>">Update</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <div>
        <a href="/export" class="btn btn-primary">Export as CSV</a>
      </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/js/tabler.min.js"></script>
</html>